1.

В ряду 100 дверей, которые изначально закрыты. Вы делаете 100 проходов мимо дверей. В первый раз посетите каждую дверь и «переключите» дверь (если дверь закрыта, откройте ее, если она открыта, закройте ее). Во второй раз посетите только каждую вторую дверь (т. е. дверь № 2, № 4, № 6, ...) и переключите ее. В третий раз посетите каждую 3-ю дверь (то есть дверь № 3, № 6, № 9, ...) и т. д., пока не посетите только 100-ю дверь.

Реализовать функцию определения состояния дверей после последнего прохода. Возвращает окончательный результат в виде массива, в который включается только номер двери, если она открыта.
