3.

Азбучная проблема
Вам дается набор блоков ABC (например, блоки детского алфавита). Есть 20 блоков с двумя буквами на каждом блоке. Полный алфавит гарантируется среди всех сторон блоков. Пример набора блоков:

(B O)
(X K)
(D Q)
(C P)
(N A)
(G T)
(R E)
(T G)
(Q D)
(F S)
(J W)
(H U)
(V I)
(A N)
(O B)
(E R)
(F S)
(L Y)
(P C)
(Z M)

Реализуйте функцию, которая принимает строку (слово) и определяет, можно ли написать слово с заданным набором блоков.

Некоторые правила, о которых следует помнить:

После того, как буква в блоке использована, этот блок нельзя использовать снова.
Функция должна быть нечувствительна к регистру.
