2.

Игра «24» проверяет умственные способности человека.

Цель игры состоит в том, чтобы расположить четыре числа таким образом, чтобы при подсчете получилось 24.

Реализуйте функцию, которая принимает в качестве аргумента строку из четырех цифр, каждая цифра от 1 до 9 (включительно) с разрешенными повторениями, и возвращает арифметическое выражение, результатом которого является число 24. Если такого решения не существует, верните «нет решения». существует".

Правила:

Разрешены только следующие операторы/функции: умножение, деление, сложение, вычитание.
Деление должно использовать плавающую точку или рациональную арифметику и т. д., чтобы сохранить остатки.
Формирование многозначных чисел из предоставленных цифр запрещено. (Таким образом, ответ 12+12 при задании 1, 2, 2 и 1 неверен).
Порядок цифр при задании не обязательно должен сохраняться.
